body {
    background-color: black;
}

header {
    border: solid 3px black;
    background-color: green;
    text-align: center;
    font-family: Optima, sans-serif;
    border-radius: 25px;
    width: 900px;
    margin: auto;

}

main {
    border: solid 3px green;
    padding-right: 300px;
    background-color: #2dcf38;
    font-family: Optima, sans-serif;
    border-radius: 25px;
    width: 500px;
    margin: auto;
    margin-top: 25px;
    font-size: 12px;

}

h1 {
    font-size: 50px;
    padding: 1px;
    text-align: center;
}

aside {
    background-color: black;
    border: solid 2px green;
    padding: 1px;
    float: right
}
footer {
    background-color: black;
    border: solid 3px;
    width: 500px;
    padding-left: 250px;
    float: none 
}
