* {
    margin: 0px;
    text-align: center;
    background-color: #d4b726;
}

header {
    border: solid 10px green;
    background-color: #d4b726;
    margin: 0.4in;
    padding: 10px;
    font-size: 300%;
}

body {
    border: solid 10px green;
    background-color: #d4b726;
    margin: 1.0in;
}

main {
    border: solid 10px green;
    background-color: #d4b726;
    margin: 0.4in;
    padding: 10px;
    font-size: 285%
}

footer {
    border: solid 10px green;
    background-color: #d4b726;
    margin: 0.4in;
    padding: 10px;
    font-size: 260%;
}

p {
    font-size: 40px;
}

img {
    padding: 42px;
}
